@model JPP.UI.Web.MVC.Models.UserRoleViewModel
 @{
     var tekstRollen = "";

   }

<h2>Profiel</h2>

<div>
    <h4>Jouw gegevens</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Gebruikersnaam:
        </dt>

        <dd>
            @Model.user.UserName 
 
        </dd>
        <br>
        <dt>
            Voornaam:
        </dt>

        <dd>
            @Model.user.FirstName

        </dd>
        <dt>
            Achternaam:
        </dt>

        <dd>
            @Model.user.LastName

        </dd>
        <dt>
            Geboortedatum:
        </dt>

        <dd>
            @Model.user.Birthday

        </dd>
        <dt>
            Postcode:
        </dt>

        <dd>
            @Model.user.Zipcode

        </dd>
        <br>
        <dt>
            Gsm-nummer:
        </dt>
        <dd>
            @if (Model.user.PhoneNumber == null)
            {
                Model.user.PhoneNumber = "Geen";
            }
            
            @Html.DisplayFor(model => Model.user.PhoneNumber)

        </dd>
        <dt>
            Email:
        </dt>

        <dd>
            @Model.user.Email
        </dd>
        <br>
        <dt>
            Role(s):
        </dt>
        <dd>
            @{var laatsteRol = Model.roles.Last(); tekstRollen = "";}
            @foreach (var role in Model.roles)
            {
                if (role.Equals(laatsteRol))
                {

                    tekstRollen = tekstRollen + role.Name;
                }
                else
                {
                    tekstRollen = tekstRollen + role.Name + ", ";

                }

            }

            @tekstRollen

        </dd>
        <dt>
            Lid sinds:
        </dt>

        <dd>
            @Model.user.Created
        </dd>
        <dt>
            Profiel is:
        </dt>
        @if (Model.user.profilePublic == true)
        {
            <dd>
                Public
            </dd>
        }
        else
        {
            <dd>
                Private
            </dd>
        }
    </dl>
</div>
<p>
   @Html.ActionLink("Wijzigen", "AccountInstellingen") |
    @Html.ActionLink("Ga terug", "Index")
</p>

@*@{Html.RenderPartial("~/Views/Gebruiker/WijzigGebruiker.cshtml", new { id = Model.user.Id });}*@