@model PagedList.IPagedList<JPP.BL.Domain.Antwoorden.Antwoord>
@using PagedList
@using PagedList.Mvc
@using Microsoft.AspNet.Identity
@{
   
    Layout = "";
    var zelfdeGebruiker = false;
}


@if (ViewBag.Aantal > 1)
{

    <h2>@ViewBag.Aantal  Antwoorden</h2>
}
else if (ViewBag.Aantal == 1)
{
    <h2>@ViewBag.Aantal  Antwoord</h2>
}

<p id="antwoordlijstCreateSection">
    <img src="~/Images/page icons/new.png" alt="Alternate Text" />
    @Html.ActionLink("Nieuw oplossing", "Create")
</p>
<div id="pager">
    @Html.PagedListPager(Model, page => Url.Action("_partialAgendaAntwoordLijst",
    new { page }))
</div>
    @foreach (var item in Model)
    {
        if (User.Identity.GetUserName().Equals(item.gebruikersNaam))
        {
            zelfdeGebruiker = true;

        }
        else
        {
            zelfdeGebruiker = false;
        }

        
            <p id="extraInfoParagraaf">
            <span id="extrainfoSpan">
                Gebruiker:
            </span>
            @if (zelfdeGebruiker)
            {

                <span id="zelfdeGebruikerSpan">@item.gebruikersNaam</span>
            }
            else
            {
                <span>@item.gebruikersNaam</span>
            }
            | <span id="extrainfoSpan">Datum: </span> @item.datum
        </p>
        
        if (zelfdeGebruiker)
        {
            @Html.ActionLink("Wijzig", "Edit", new { id = item.ID })
        }
        <table class="table">

            <tr>
                <td id="aantalStemmen">
                    +@Html.DisplayFor(modelItem => item.aantalStemmen)
                </td>

                <td id="antwoordInhoud" >
                   @Html.DisplayFor(modelItem => item.inhoud)
                    
                </td>

            </tr>

        </table>

    }




<script>
    $(function () {
        $('#pager').on('click', 'a', function () {
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#antwoordlijstWrapper').html(result);
                }
            });
            return false;
        });
    });

</script>