@model JPP.BL.Domain.Antwoorden.Antwoord

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Bent u zeker dat u deze antwoord wilt verwijderen?</h3>
    <div>
        <h4>Antwoord</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
              Inhoud
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.inhoud)
            </dd>
    
            <dt>
               Extra info
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.extraInfo)
            </dd>
    
            <dt>
                Datum
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.datum)
            </dd>
    
            <dt>
                Aantal stemmen
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.aantalStemmen)
            </dd>
    
            <dt>
              Wijzigbaar
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.editable)
            </dd>
    
            <dt>
                Gebruiker
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.gebruikersNaam)
            </dd>
    
            <dt>
                Aantal flags
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.aantalFlags)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Verwijder" class="btn btn-default" /> 
         
            </div>
        }
    </div>
</body>
</html>
