@model PagedList.IPagedList<JPP.BL.Domain.Antwoorden.DossierAntwoord>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Dossier antwoorden";
}

<h2>Dossier antwoorden</h2>
<h2>@Model.First().module.naam: Antwoorden(@ViewBag.Aantal)</h2>


<p>
    @Html.ActionLink("Maak een antwoord", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Gebruiker
        </th>

        <th>
            Inhoud
        </th>
        <th>
           Extra info
        </th>
        <th>
           Datum
        </th>
        <th>
           Aantal stemmen
        </th>
        <th>
           Volledigheis %
        </th>
        <th>
           Status online
        </th>
        <th>
          Extra vraag
        </th>
        <th>
            Aantal flags
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.gebruikersNaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inhoud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.extraInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aantalStemmen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.percentageVolledigheid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statusOnline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.extraVraag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aantalFlags)
        </td>
        <td>
            @Html.ActionLink("Wijzig", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detail", "Details", new { id=item.ID }) |
            @Html.ActionLink("Verwijder", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>


@Html.PagedListPager(Model, page => Url.Action("Lijst",
    new { page }))
