@model JPP.BL.Domain.Modules.DossierModule

@{
    ViewBag.Title = "actief";
    Layout = "";

}
<div id="dossierModule">
    <p>
        @if (User.IsInRole("Admin"))
        {

            @Html.ActionLink("Wijzig", "Edit", new { id = Model.ID })
        }


    </p>
    <p><span id="extrainfoSpan">Auteur: @Model.adminNaam </span> | <span id="extrainfoSpan">Thema: </span> @Model.thema.naam | <span id="extrainfoSpan">Aantal antwoorden: </span> @Model.dossierAntwoorden.Count | <span id="extrainfoSpan">Aantal keren bekeken: </span> @ApplicationInstance.Application["Totaluser"]</p>


    <img id="moduleIcon" src="~/Images/menu logos/dossier.png" alt="Alternate Text" />

    <div id="moduleInhoud">

        <h1 id="moduleTitel">Bedenk een oplossing! </h1>

        <h4 id="centraleVraag">@Model.centraleVraag.inhoud</h4>
        <p>@Model.centraleVraag.extraInfo</p>
   
     

    </div>

 
   
    @*<div id="dossierModuleContent">
        <div id="beloningSection">
            <h4>Beloning</h4>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    Beloning:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.beloning.FirstOrDefault().naam)
                </dd>

                <dt>
                    Beschrijving:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.beloning.FirstOrDefault().beschrijving)
                </dd>
                <dt>
                    Aantal mogelijke winnaars:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.centraleVraag.aantalWinAntwoorden)
                </dd>

            </dl>


        </div>
        <div id="extraInfoSection">
            <h4>Extra info</h4>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    Begin datum:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.beginDatum)
                </dd>

                <dt>
                    Eind datum:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.eindDatum)
                </dd>

                <br />
                <dt>
                    Actief:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.status)
                </dd>

            </dl>


        </div>


    </div>*@


</div>










