@model JPP.BL.Domain.Modules.DossierModule

@{
    ViewBag.Title = "Delete";
}

<h2>@Model.naam</h2>

<h3>De dossiermodule wordt verwijdert, bent u zeker?</h3>
<div>
    <h4>Verwijderen</h4>
    <h4 class="text-danger">Opgelet: alle dossierantwoorden(@Model.dossierAntwoorden.Count) van deze dossiermodule worden mee verwijderd!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Admin naam:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adminNaam)
        </dd>

        <dt>
            Module naam:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naam)
        </dd>

        <dt>
            Begin datum:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.beginDatum)
        </dd>

        <dt>
            Eind datum:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eindDatum)
        </dd>

        <dt>
            Volledigheids %:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.verplichteVolledigheidsPercentage)
        </dd>
        <br />
        <dt>
            Status:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            Thema:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thema.naam)
        </dd>

        <dt>
            Central vraag:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.centraleVraag.inhoud)
        </dd>
        <br />
        <dt>
            Eerst Beloning naam (demon):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.beloning.First().naam)
        </dd>

        <dt>
            Beloning beschrijving(demo):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.beloning.First().beschrijving)
        </dd>
        <br />
        <dt>
            Aantal winnaars:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.centraleVraag.aantalWinAntwoorden)
        </dd>
        <dt>
            Aantal antwoorden:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dossierAntwoorden.Count)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijder" class="btn btn-default" /> |
            @Html.ActionLink("Ga terug", "Index")
        </div>
    }
</div>
