@{
    ViewBag.Title = "Beheer gebruikers rollen";
}

<h2>Beheer gebruikers rollen</h2>
@Html.ActionLink("Maak nieuwe rol aan", "Create") | @Html.ActionLink("Lijst rollen", "Index")
<hr />

<h3>Voeg rol toe aan een user</h3>



@using (Html.BeginForm("RoleAddToUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Gebruikersnaam @Html.TextBox("UserName","", new { @class = "form-control" }) @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Selecteer Rol", new { @class = "btn btn-default dropdown-toggle" })       
    </p>
    
    <input type="submit" class="btn btn-primary" value="Opslaan" />
}
<hr />

    <h3>Verwijder rol van een user</h3>

    @using (Html.BeginForm("DeleteRoleForUser", "Roles"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <p>
            Gebruikersnaam @Html.TextBox("UserName", "", new { @class = "form-control" })
            @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Selecteer Rol", new { @class = "btn btn-default dropdown-toggle" })

        </p>


        <input type="submit" class="btn btn-primary" value="Verwijder rol van deze user" />
    }


<h3>Toon roles van een user</h3>
@using (Html.BeginForm("GetRoles", "Roles"))
{
    @Html.AntiForgeryToken()
    <p>
        Gebruikersnaam @Html.TextBox("UserName", "", new { @class = "form-control" })       
    </p>
    <p>
        <input type="submit" class="btn btn-primary" value="Toon roles van de user" />
    </p>
}

@if (ViewBag.RolesForThisUser != null)
{
    
    <ul class="list-group ulBreedte">
        <li class="list-group-item list-group-item-danger">
            Rollen voor deze user
        </li>
        @foreach (string s in ViewBag.RolesForThisUser)
            {
        <li class="list-group-item">@s</li>
            }
    </ul>
    
}

<hr />

<a href="@Url.Action("Index")"><img src="~/Images/page icons/goBack2.png" /> Ga terug</a>
